.bonus-box {
    background-color: $color-blue;
    margin-bottom: 1rem;
    color: $color-secondary;
    
    &__btn {
        font-size: $font-size-medium;
        text-transform: uppercase;
        width: 100%;
        text-decoration: none;
        color: $color-secondary;
        background-color: $color-blue-dark;
        text-align: center;
        transition: all .5s;
        line-height: 3;
        display: block;

        &:hover {
            text-decoration: none;
            background-color: $color-blue-dark;
            color: $color-secondary;
            
        }

        &:hover > span {
            letter-spacing: .1rem;
        }

        span {
            padding: 2rem;
            line-height: 1;
            background-color: $color-red;
            float: left;
            transition: all .5s;
        }
    }

}

.bonus-box-container {
    .card-header {
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: transparent;
        border-bottom: none;
    }
}