.section-testimonial {
    background-image: linear-gradient(to right bottom, rgba($color-red, 0.9), rgba($color-red, 0.9)), url(../images/testimonial-bg.jpg);
    background-size: cover;
    background-position: center;

    .heading-section {
        color: $color-secondary;

        &:after {
            background-color: $color-secondary;
        }
    }

    .carousel {
        min-height: 60rem;
    }
}

.testimonial-box {
    text-align: center;
    width: 75%;
    margin: 2rem auto 10rem auto;

    &__img {
        img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }
    }

    &__name {
        h4 {
            font-size: 2.4rem;
            color: $color-secondary;
            margin: 2rem;
        }
    }

    &__msg {
        p {
            font-size: $font-size-medium;
            color: $color-secondary;
        }
    }

}