.text-box {

    background-color: rgba($color-primary-light, 0.5);
    padding: 3rem 3rem 0 3rem;

    &__text {
        transition: all .5s;
    }

    &__hide {
        height: 40rem;
        overflow: hidden;
    }

    &__big-text {
        font-size: $font-size-medium;
        font-weight: bold;
        color: $color-primary;
        text-align: center;
    }

    &__important-text {
        color: $color-primary;
    }

    &__bold {
        font-weight: bold;
    }

    &__italic {
        font-style: italic;
    }

    &__btn {
        display: block;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        background-color: $color-primary;
        color: $color-secondary;
        padding: 1.5rem;
        margin-top: 1rem;
        transition: all .2s;

        &:hover {
            color: $color-primary;
            background-color: $color-primary-light;
            text-decoration: none;
        }
    }
}