body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: $font-size-small;
    line-height: 1.7;
    color: $color-dark;
}

.heading-primary {
    color: $color-secondary;
    text-transform: uppercase;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: $font-size-huge;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        backface-visibility: hidden;

        @include xs {
            font-size: $font-size-big;
        }
    }
    
    &--sub {
        display: block;
        font-size: $font-size-medium;
        font-weight: 700;
        letter-spacing: 1rem;
        animation: moveInRight 1s ease-out;
        backface-visibility: hidden;
    }
}

.heading-secondary {
    font-size: $font-size-big;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    letter-spacing: 2px;
    color: $color-secondary;
    transition: all .2s;
}

.heading-tertiary {
    font-size: $font-size-medium;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    letter-spacing: 2px;
    color: $color-dark;
    transition: all .2s;
}

.heading-section {
    font-size: $font-size-big;
    color: $color-dark;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: bold;
    position: relative;

    &:after {
        content: "";
        display: block;
        height: .2rem;
        width: 6rem;
        background-color: $color-dark;
        position: absolute;
        left: 50%;
        bottom: -1.5rem;
        transform: translateX(-50%);
    }
}