// Colors
$color-primary: #3b5998;
$color-primary-light: #8b9dc3;
$color-secondary: #f7f7f7;
$color-dark: #333;
$color-grey: #e7e7e7;

$color-blue: #28417f;
$color-blue-dark: #192a56;

$color-green: #31c66f;
$color-green-dark: #27ae60;

$color-red: #f53b57;
$color-red-dark: #d3213c;



// Fonts
$font-size-huge: 6rem;
$font-size-big: 3.5rem;
$font-size-medium: 2rem;
$font-size-small: 1.6rem;

// Margins
$mobile-margin-bottom: 3rem;
