// Colors
$color-primary: #3b5998;
$color-primary-light: #8b9dc3;
$color-secondary: #f7f7f7;
$color-dark: #333;


// Fonts
$font-size-huge: 6rem;
$font-size-big: 3.5rem;
$font-size-medium: 2rem;
$font-size-small: 1.6rem;

// Margins
$mobile-margin-bottom: 3rem;