*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #333;
}

.heading-primary {
  color: #f7f7f7;
  text-transform: uppercase;
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  backface-visibility: hidden;
}
@media (min-width: 0px) and (max-width: 575px) {
  .heading-primary--main {
    font-size: 3.5rem;
  }
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1rem;
  animation: moveInRight 1s ease-out;
  backface-visibility: hidden;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 2px;
  color: #f7f7f7;
  transition: all 0.2s;
}

.heading-tertiary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 2px;
  color: #333;
  transition: all 0.2s;
}

.heading-section {
  font-size: 3.5rem;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: bold;
  position: relative;
}
.heading-section:after {
  content: "";
  display: block;
  height: 0.2rem;
  width: 6rem;
  background-color: #333;
  position: absolute;
  left: 50%;
  bottom: -1.5rem;
  transform: translateX(-50%);
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-padding-section {
  padding: 6rem 0;
}

.custom-btn, .custom-btn:link, .custom-btn:visited {
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer;
}
.custom-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.2);
}
.custom-btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.custom-btn:active, .custom-btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.2);
  outline: none;
}
.custom-btn--white {
  background-color: #f7f7f7;
  color: #3b5998;
}
.custom-btn--white::after {
  background-color: #f7f7f7;
}
.custom-btn--blue {
  background-color: #3b5998;
  color: #f7f7f7;
}
.custom-btn--blue::after {
  background-color: #3b5998;
}
.custom-btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.custom-btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.text-box {
  background-color: rgba(139, 157, 195, 0.5);
  padding: 3rem 3rem 0 3rem;
}
.text-box__text {
  transition: all 0.5s;
}
.text-box__hide {
  height: 40rem;
  overflow: hidden;
}
.text-box__big-text {
  font-size: 2rem;
  font-weight: bold;
  color: #3b5998;
  text-align: center;
}
.text-box__important-text {
  color: #3b5998;
}
.text-box__bold {
  font-weight: bold;
}
.text-box__italic {
  font-style: italic;
}
.text-box__btn {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  background-color: #3b5998;
  color: #f7f7f7;
  padding: 1.5rem;
  margin-top: 1rem;
  transition: all 0.2s;
}
.text-box__btn:hover {
  color: #3b5998;
  background-color: #8b9dc3;
  text-decoration: none;
}

.collapse-box {
  transition: all 0.5s;
  padding: 3rem;
}
.collapse-box:not(:last-child) {
  margin-bottom: 3rem;
}
.collapse-box a {
  display: block;
  transition: all 0.5s;
}
.collapse-box a:hover {
  text-decoration: none;
  background-color: #8b9dc3;
}
.collapse-box__img img {
  width: 250px;
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .collapse-box__img img {
    width: 100%;
  }
}
.collapse-box__text {
  padding: 2rem;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 575px) {
  .collapse-box h4 {
    text-align: center;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .collapse-box h4 {
    text-align: center;
  }
}

.tabs__title {
  background-color: #8b9dc3;
}
.tabs__title a {
  font-size: 2rem;
  color: #f7f7f7;
  background-color: transparent;
  transition: all 0.4s;
}
.tabs__title a:hover, .tabs__title a:active {
  background-color: #3b5998;
  color: #f7f7f7;
}
.tabs__container {
  margin-top: 4rem;
}
.tabs__body {
  padding: 3rem;
}
.tabs__heading {
  color: #3b5998;
}
.tabs__paragraph {
  font-style: italic;
}
.tabs__list {
  list-style: none;
  margin-top: 6rem;
}
.tabs__list li {
  background-color: #3b5998;
  color: #f7f7f7;
  position: relative;
  padding: 2rem 2rem 2rem 7rem;
}
.tabs__list li:not(:last-child) {
  margin-bottom: 8rem;
}
.tabs__list li span {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 4rem;
  background: #8b9dc3;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  left: -40px;
}

.bonus-box__btn {
  font-size: 2rem;
  text-transform: uppercase;
  width: 100%;
  text-decoration: none;
  color: #f7f7f7;
  background-color: #3b5998;
  text-align: center;
  padding: 1rem 0;
  transition: all 0.5s;
}
.bonus-box__btn:hover {
  text-decoration: none;
  color: #333;
  background-color: #8b9dc3;
}
.bonus-box__btn span {
  display: block;
}

.testimonial {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(51, 51, 51, 0.1);
  background-color: rgba(139, 157, 195, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
}
.testimonial:not(:last-child) {
  margin-bottom: 4rem;
}
.testimonial h3 {
  display: inline;
}
.testimonial__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
}
.testimonial__img {
  height: 200px;
  width: 200px;
  transform: scale(1);
  backface-visibility: hidden;
  transition: all 0.5s;
}
.testimonial__text {
  transform: skewX(12deg);
}
.testimonial__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  color: #f7f7f7;
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  backface-visibility: hidden;
}
.testimonial:hover .testimonial__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.testimonial:hover .testimonial__img {
  transform: scale(1.2);
  filter: blur(3px) brightness(80%);
}

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(59, 89, 152, 0.9), rgba(59, 89, 152, 0.9)), url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  position: relative;
}
.header__content {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -55%);
  width: 100%;
}

@media (min-width: 0px) and (max-width: 575px) {
  .section__left {
    margin-bottom: 3rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .section__left {
    margin-bottom: 3rem;
  }
}

.embed-video {
  width: 100%;
  height: 48rem;
}
@media (min-width: 0px) and (max-width: 575px) {
  .embed-video {
    height: 32rem;
  }
}

/*# sourceMappingURL=style.css.map */
