.header {
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba($color-blue, 0.9), rgba($color-blue, 0.9)), url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    position: relative;

    &__content {
        text-align: center;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -55%);
        width: 100%;
    }
}